name: fire_alarm_monitoring
description: A real-time Fire Alarm Monitoring App using ESP32 sensors
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1
  flutter_map: ^7.0.2
  latlong2: ^0.9.0
  syncfusion_flutter_gauges: ^25.1.42
  google_maps_flutter: ^2.13.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
